<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <strong>{{title}}</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button href="/intro">inicio</ion-button>
      <ion-button href="/characters">Ver personajes</ion-button>
      <ion-button href="/home">libros</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/home">inicio</ion-item>
      <ion-item href="/characters">Ver personajes</ion-item>
      <ion-item href="/details">libros</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
