<img src="assets/icon/fondo.jpg" class="fullscreen-img">

<app-navbar [title]="'Biblioteca Mágica'"></app-navbar>

<div class="intro-container">
  <h1>Bienvenido a la Biblioteca Mágica</h1>
  <p>
    Explora el fascinante mundo de <strong>Harry Potter</strong> a través de nuestra colección de libros, hechizos,
    criaturas mágicas y más. Sumérgete en historias llenas de aventuras, misterios y magia.
  </p>
  <p>
    Aquí encontrarás información sobre todas las casas de Hogwarts, personajes icónicos y secretos
    ocultos dentro del universo mágico. ¡Prepárate para vivir la magia como nunca antes!
  </p>
</div>
