<app-navbar [title]="'Personajes de Harry potter'"></app-navbar>

<ion-content>
  <ion-list>
    @for (character of characters; track $index) {
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="character.image" [alt]="character.fullName">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ character.fullName }}</h2>
          <p>Alias: {{ character.nickname }}</p>
        </ion-label>
        <ion-button (click)="viewDetails(character.id)" color="primary" slot="end">
          Ver detalles
        </ion-button>
      </ion-item>
    }
  </ion-list>
</ion-content>
